<h3 id="intro">1. Introduction</h3>

<p>
    L’API <strong>Merchant Pay MVola</strong> permet à une application tierce d’initier un paiement depuis un client vers un marchand via MVola. 
    Deux mécanismes sont disponibles pour récupérer l’état d’une transaction : par <strong>callback</strong> ou par <strong>polling</strong>.
</p>

<p>
L’API repose sur l’architecture REST et fonctionne avec des requêtes et réponses au format <code>JSON</code>.
</p>

<h3 id="asavoir">2. A savoir</h3>

<p>
    Ce site est un projet non officiel, développé par <strong>Andriamasy Athanase Marc</strong>, développeur fullstack et passionné de machine learning. Il a été conçu dans le but d’aider les développeurs rencontrant des difficultés lors de l’intégration de l’API MVola, en partageant des retours d’expérience concrets et des exemples clairs.
<br><br>
Ce guide reflète les problèmes rencontrés ainsi que les solutions testées, afin de simplifier votre processus de développement.
</p>

<p>
Si vous détectez une erreur ou si vous avez des suggestions d’amélioration, n’hésitez pas à me le faire savoir. Toute contribution est la bienvenue pour améliorer cette documentation.
</p>
